html {
 font-family: sans-serif;
 font-size: 16px;
 line-height: 1.3em;
}
header {
 text-align: center;
}
nav ul {
 list-style: none;
 display: block;
 box-sizing: border-box;
 width: 100%;
 margin: 0px;
 padding: 0px;
 text-align: center;
}
nav ul li {
 display: inline;
}
nav ul li:first-child {
 margin-left: 0px;
 margin-right: 8px;
}
nav ul li:last-child {
 margin-left: 8px;
 margin-right: 0px;
}
nav ul li:not(:first-child):not(:last-child) {
 margin-left: 8px;
 margin-right: 8px;
}
nav a:link, nav a:visited {
 text-decoration: none;
 color: blue;
}
nav a {
 padding: 8px;
}
nav a:hover {
 background-color: gray;
}
main {
 margin-top: 16px;
}
footer {
 margin-top: 32px;
 text-align: center;
}
table.table1 {
 border-collapse: collapse;
 margin-left: auto;
 margin-right: auto;
}
table.table1 th{
 border: 1px solid black;
}

table.table1 td{
    border: 1px solid black;
    padding: 0.2em;
   }
table caption {
 font-weight: bold;
 font-size: larger;
}
a:link , a:visited {
  text-decoration: none;
  color: none;
}
table.table2 {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
   }
   table.table2 th{
    border: 0px;
 }
   
table.table2 td:first-child{
    border: 0px;
    text-align: right;
    padding-right: 0.5em;
     }
table.table2 td{
    border: 0px;

     }

table.table3 {
    border-collapse: collapse;

   }

table.table3 td:first-child{
    border: 0px;
    text-align: right;
    padding-right: 0.5em;
     }

.blue{
    color: blue;
    font-weight: bold;
}

.frame {
    display: block;
    width: 620px;
    margin-left: auto;
    margin-right: auto;
}

pre {
    font-family: sans-serif;
}
#top{
    vertical-align:top;
}

.test {
    display: inline;
}